body{
    margin:0px;
    padding: 0px;
}

nav{
    display:flex;
}

li{
    list-style: none;
}

.left{
    /* background-color: yellow; */
    width:40% ;
    height: auto;
    /* align-items: center; */
}

.left > .logo{
    height: 90px;
    padding: 20px;
}

.right{
    /* background-color: blue; */
    width:60%;
    height:auto;
    padding: 40px 80px;
}

.rightComp{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-content:space-around;

}

.rightComp > li{
    margin-left: 20px;
}


.messenger{
    height:30px;


}
.avtarLogo{
    vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.AccountHolderName{
    margin-top:12px;
}

.logout{
    background: none;
    border:none;
}

.afterHide{
    display: none;
}

@media (max-width:700px){
    .beforeHide{
        display: none;

    }
    .afterHide{
        /* display:block; */
        display:flex;
        justify-content: flex-end;
    }
}